.page-top{
    min-height: 106px;
}

.logo{
    margin: 9px 0 0 25px;
    img{
        width: 55px;
    }
}

.global{
    min-width: 980px;
    margin: 0 auto;
}


.main-user-data{
    padding-top: 45px;

    .main-user{

        .main-user-title{
            padding-top: 15px;
        }
    }

    .event-btn{
        margin-top: 8px;
    }
}


.middle-nav{
    margin-bottom: 20px;
}


.data-table{
 
    .date{
        margin: 6px 0 0;
        display: inline-block;
    }

    .item-title, .ch-select{
        position: relative;
        padding: 2px 0 0 18px;
        line-height: 1.2;

        input[type="checkbox"]{
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .ch-select{
        padding-top: 0;
        input[type="checkbox"]{
            position: absolute;
            left: 0;
            top: 6px;
        }    
    }

    .status-column{
        vertical-align: middle;

        .label{
            display: inline-block;
            text-align: left;
            padding: 4px 8px 4px 8px;
        }
    }

    .align-middle{
        vertical-align: middle;
    }

    .column-1{
        width: 208px;
    }
    .column-2{
        width: 90px;
    }
    .column-3{
        width: 135px;
    }
    
    .column-4, .column-5, .column-6, .column-7, .column-8{
        width: 155px;
    }

    .range-cell{
        vertical-align: middle;
    }


    select.form-control{
        font-size: 11px;
        height: 30px;
        border-radius: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .custom-btn-group{
        .key{
            .btn{
                min-width: 150px;
            }
        }
    }

    tr.active-row{
        td{
            background: #E8E8E8;
        }
    }

    .was-count{
        text-align: center;

        .lbl{
            display: inline-block;
            vertical-align: top;
            width: 40%;

            .label{
                display: block;
                padding: 4px;
            }
        }
    }
}


#authModal{
    .modal-dialog{
        width: 400px;
    }
}


.modal-add-colleague{


    .list{

        .name{
            display: inline-block;
            vertical-align: top;
            margin: 8px 0 0 0;
        }

        .label{
            display: inline-block;
            vertical-align: top;
            margin: 7px 0 0 0;
            padding: 6px 10px 5px 10px;
        }


        .item{
            margin: 0 0 10px;
            padding: 10px 0 0 0;
            border-top: 1px solid #EFE8E8;

            &:first-child{
                border-top: none;
                padding-top: 0;
            }
        }
    }

}

.search-form{
    margin: 0 0 20px;

    .search-submit{
        display: block;
    }
}